/* Colour Scheme: white, black, #0059FF;, blue, grey, */

/* *********************************** */
/*                GENERAL              */
/* *********************************** */

html, body {
  margin: 0px;
  padding: 0px;
}

html, a.navbar-brand, h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::selection {
  color: white;
  background: #0059FF; /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: white;
  background: #0059FF; /* Gecko Browsers */
}

.first-section {
  height: 78vh;
}

.middle-section {
  height: 100vh;
}

.last-section {
  height: 91vh;
}

.middle-section, .last-section {
  border-top: 2px solid gray;
}

.large-text {
  font-size: 2.82rem;
  font-weight: 600;
}

.medium-text {
  margin-top: 1rem;
  font-size: 1.625rem;
}

.i18n-container {
  padding-right: 12px;
}

.i18n-links {
  float: right;
  padding: 0px;
}

.set-lang-form-div {
  display: inline-block;
  padding: 0px;
}

.setlang.btn.btn-link {
  color: gray;
  padding-left: 8px;
  padding-right: 0px;
}

.setlang.btn.btn-link.active {
  color: black;
}


/* *********************************** */
/*             NAVIGATION              */
/* *********************************** */

nav {
  border-top: solid 2px #0059FF;
}

.bg-white {
  background-color: white;
}

.active a {
  color: #0059FF !important;
}

.nav-link {
  font-size: 1.125rem;
}

.nav-link:hover {
  color: #0059FF !important;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
}

.brand-subtitle {
  color: gray;
}


/* *********************************** */
/*                 HEADER              */
/* *********************************** */

.email-link {
  color: #0059FF;
  text-decoration:none !important;
}

.email-link:hover {
  color: blue;
}

.header {
  padding-top: 120px;
}

.scroll-down-div {
  padding-top: 30px;
}

.clickable {
  height: 2rem;
  overflow: hidden;
}


/* *********************************** */
/*               PROJECTS              */
/* *********************************** */

.projects .row .visual {
  width: 58%;
  padding-top: 120px;
  padding-left: 0px;
  padding-right: 20px;
}

.projects .row .description {
  width: 42%;
  padding-top: 100px;
  padding-left: 20px;
}

.projects .row .visual img {
  margin: 0px;
  width: 100%;
}

.project-title, .articles-sec-title, .about-title {
  font-size: 3.2rem;
  font-weight: 500;
}

.project-text {
  font-size: 1.5rem;
}

.project-link {
  margin-top: 30px;
  min-width: 120px;
}

span.badge {
  font-weight: 600;
}

.badge-primary {
  /* background-color: #0059FF; */
}


/* *********************************** */
/*               ARTICLES              */
/* *********************************** */


.articles-sec-title {
  text-align: center;
}

.article-sec-div {
  padding-top: 70px;
}

.article-sec-div .article-list {
  padding-top: 40px;
  text-align: center;
}

.article-sec-div .article-list a {
  line-height: 2rem;
  color: gray;
  text-decoration: none;
}

.article-sec-div .article-list a:hover {
  color: black;
}

.blog-link-div {
  text-align: center;
}

.blog-link {
  margin-top: 30px;
  min-width: 120px;
}

/* *********************************** */
/*              ABOUT ME               */
/* *********************************** */

.about-me .description {
  padding-top: 70px;
}

.about-title {
  text-align: center;
}

.about-text-div {
  padding-top: 40px;
  font-size: 1.2rem;
}

.project-1-link {
  color: black;
}

.social-outlets {
  text-align: center;
  padding-top: 20px;
}

.social-outlets a {
  display: inline-block;
  color: gray;
}

.social-outlets a:hover {
  color: #0059FF;
}

.social-outlets a.padleft {
  padding-left: 10px;
}

/* *********************************** */
/*                FOOTER               */
/* *********************************** */

.footer-div {
  padding-top: 20px;
  background-color: gray;
  margin: 0px;
}

.footer-links a {
  text-decoration: none !important;
  color: white;
}

.footer-links a:hover {
  color: black;
}

.bottom-link {
  margin-right: 20px;
}


/* *********************************** */
/*            RESPONSIVE               */
/* *********************************** */

/* iPad Landscape */
@media (max-width: 1024.98px) {
  .header {
    padding-top: 200px;
  }

  .first-section {
    height: 82vh;
  }

  .project-title, .articles-sec-title, .about-title {
    font-size: 2.8rem;
  }

  .project-text {
    font-size: 1.3rem;
  }

  .description {
    padding-top: 60px;
    padding-left: 20px;
  }

  .project-link {
    margin-top: 18px;
  }

  .projects .row .visual {
    width: 50%;
    padding-top: 120px;
    padding-left: 0px;
    padding-right: 20px;
  }

  .projects .row .description {
    width: 50%;
    padding-top: 100px;
    padding-left: 20px;
  }

  .projects .row .visual img {
    margin: 0px;
    width: 100%;
  }

  .middle-section {
    height: 80vh;
  }

  .last-section {
    height: 80vh;
  }
}


/* iPad Portrait */
@media (max-width: 768.98px) {
  .header {
    padding-top: 260px;
  }

  .large-text {
    font-size: 3.2rem;
  }

  .medium-text {
    font-size: 1.8rem;
  }

  .first-section {
    height: 87vh;
  }

  .middle-section {
    height: 100vh;
  }

  .last-section {
    height: 91vh;
  }

  .about-text-div p {
    text-align: center;
  }
}


/* Collapsed Navbar */
@media (max-width: 767.98px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  #navbarSupportedContent > ul.navbar-nav {
    text-align: center;
  }

  .i18n-links {
    float: none;
    text-align: center;
    padding: 0px;
  }

  .large-text {
    font-size: 2.6rem;
  }

  .medium-text {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .header {
    padding-top: 100px;
  }
}


/* iPhone 6/7/8 Plus */
@media (min-width: 414px) {

}


/* iPhone 6/7/8/X */
@media (min-width: 375px) {

}
