/* Colour Scheme: white, black, #0059FF;, blue, grey, */

/* *********************************** */
/*                GENERAL              */
/* *********************************** */

html, body {
  margin: 0px;
  padding: 0px;
}

html, a.navbar-brand, h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.first-section {
  height: 77vh;
}
.middle-section {
  height: 100vh;
  border-top: 2px solid gray;
}

.last-section {
  height: 91vh;
  border-top: 2px solid gray;
}

::selection {
  color: white;
  background: #0059FF; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: white;
  background: #0059FF; /* Gecko Browsers */
}

.large-text {
  font-size: 2.82rem;
  font-weight: 600;
}

.medium-text {
  margin-top: 1rem;
  font-size: 1.625rem;
}

.i18n-links {
  float: right !important;
}

.i18n-links a {
  color: gray;
  margin-left: 10px;
}

.i18n-links a.active {
  color: black;
}

/* *********************************** */
/*             NAVIGATION              */
/* *********************************** */

nav {
  border-top: solid 2px #0059FF;
}

.bg-white {
  background-color: white;
}

.active a {
  color: #0059FF !important;
}

.nav-link {
  font-size: 1.125rem;
}

.nav-link:hover {
  color: #0059FF !important;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
}

.brand-subtitle {
  color: gray;
}


/* *********************************** */
/*                 HEADER              */
/* *********************************** */

.email-link {
  color: #0059FF;
  text-decoration:none !important;
}

.email-link:hover {
  color: blue;
}

.header {
  padding-top: 120px;
}

.scroll-down-div {
  padding-top: 30px;
}

.clickable {
  height: 2rem;
  overflow: hidden;
}

/* *********************************** */
/*               PROJECTS              */
/* *********************************** */

.projects .visual {
  height: 100vh;
  padding-top: 120px;
  padding-left: 0px;
  padding-right: 20px;
}

.projects .visual img {
  margin: 0px;
  width: 100%;
}

.description {
  padding-top: 100px;
  padding-left: 20px;
  height: 100vh;
}

.project-title, .articles-sec-title, .about-title {
  font-size: 3.2rem;
  font-weight: 500;
}

.project-text {
  font-size: 1.5rem;
}

.project-link {
  margin-top: 30px;
  min-width: 120px;
}

/* *********************************** */
/*               ARTICLES              */
/* *********************************** */


.articles-sec-title {
  text-align: center;
}

.article-sec-div {
  padding-top: 100px;
}

.article-sec-div .article-list {
  padding-top: 40px;
  text-align: center;
}

.article-sec-div .article-list a {
  color: gray;
  text-decoration: none;
}

.article-sec-div .article-list a:hover {
  color: black;
}

.blog-link-div {
  text-align: center;
}

.blog-link {
  margin-top: 30px;
  min-width: 120px;
}

/* *********************************** */
/*              ABOUT ME               */
/* *********************************** */

.about-title {
  text-align: center;
}

.about-text-div {
  padding-top: 40px;
  font-size: 1.2rem;
}

.project-1-link {
  color: black;
}

.social-outlets {
  text-align: center;
  padding-top: 20px;
}

.social-outlets a {
  display: inline-block;
  color: gray;
}

.social-outlets a:hover {
  color: #0059FF;
}

.social-outlets a.padleft {
  padding-left: 10px;
}

/* *********************************** */
/*                FOOTER               */
/* *********************************** */

.footer-div {
  padding-top: 20px;
  background-color: gray;
  margin: 0px;
}

.footer-links a {
  text-decoration: none !important;
  color: white;
}

.footer-links a:hover {
  color: black;
}

.bottom-link {
  margin-right: 20px;
}

/* .bottom-link.email {
  color: #0059FF;
} */

/* *********************************** */
/*            RESPONSIVE               */
/* *********************************** */
